<!-- ================================= -->
<!-- ============ FOOTER ============= -->
<!-- ================================= -->
<footer class="text-center py-4 mt-5 border-top">
    <p class="mb-0">
        &copy; 2025 Microsite Services. MicroSiteKit: proudly held together with snippets, dohickies, and sheer
        determination.
    </p>
    <small>
        Found a bug? Confused by a toggle? Need emotional support from a modal?
        Contact <a href="mailto:Bronwyn.Driver@nhsbsa.nhs.uk">Bronwyn.Driver@nhsbsa.nhs.uk</a> and we’ll send
        biscuits.*
    </small>
</footer>